################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LMS/bin/Debug/net6.0
/LMS/obj
/LMS.Core/bin/Debug/net6.0
/LMS.Core/obj
/LMS.Repository/bin/Debug/net6.0
/LMS.Repository/obj
/LMS/bin/Release/net6.0
/LMS.Core/bin/Release/net6.0
/LMS.Repository/bin/Release/net6.0
/LMS/.vs/LMS/FileContentIndex
/LMS/.vs/ProjectEvaluation
/LMS/.vs/Rent/DesignTimeBuild
/LMS/.vs/Rent/v17
/Rent.Cordinates/obj/Debug/net6.0/Rent.Cordinates.csproj.AssemblyReference.cache
/Rent.Cordinates/bin/Debug/net6.0
/Rent.Cordinates/obj/Debug/net6.0/Rent.Cordinates.dll
/Rent.Cordinates/obj/Debug/net6.0/Rent.Cordinates.pdb
