################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LMS/bin/Debug/net6.0
/LMS/obj
/LMS.Core/bin/Debug/net6.0
/LMS.Core/obj
/LMS.Repository/bin/Debug/net6.0
/LMS.Repository/obj
/LMS/bin/Release/net6.0
/LMS.Core/bin/Release/net6.0
/LMS.Repository/bin/Release/net6.0
/LMS/.vs/LMS/FileContentIndex
/LMS/.vs/ProjectEvaluation
/LMS/.vs/Rent/DesignTimeBuild
/LMS/.vs/Rent/v17
/Rent.Cordinates/obj/Debug/net6.0/Rent.Cordinates.csproj.AssemblyReference.cache
/Rent.Cordinates/bin/Debug/net6.0
/Rent.Cordinates/obj/Debug/net6.0/Rent.Cordinates.dll
/Rent.Cordinates/obj/Debug/net6.0/Rent.Cordinates.pdb
/LMS/.vs/Rent/FileContentIndex/172c949f-1d08-4a46-8dd1-4d41feb21b4d.vsidx
/Rent.Cordinates/bin/Release/net6.0
/Rent.Cordinates/obj/Debug/net6.0/Rent.Cordinates.assets.cache
/Rent.Cordinates/obj/Debug/net6.0/Rent.Cordinates.csproj.CoreCompileInputs.cache
/Rent.Cordinates/bin/Debug/net6.0/Rent.Cordinates.deps.json
/Rent.Cordinates/obj/Release/net6.0/ref/Rent.Cordinates.dll
/Rent.Cordinates/obj/Release/net6.0/Rent.Cordinates.assets.cache
/Rent.Cordinates/obj/Release/net6.0/Rent.Cordinates.pdb
/Rent.Cordinates/obj/Release/net6.0/Rent.Cordinates.genruntimeconfig.cache
/Rent.Cordinates/obj/Release/net6.0/Rent.Cordinates.dll
/Rent.Cordinates/obj/Release/net6.0/Rent.Cordinates.csproj.FileListAbsolute.txt
/Rent.Cordinates/obj/Release/net6.0/Rent.Cordinates.csproj.CoreCompileInputs.cache
/Rent.Cordinates/obj/Release/net6.0/Rent.Cordinates.csproj.CopyComplete
/Rent.Cordinates/obj/Release/net6.0/Rent.Cordinates.csproj.AssemblyReference.cache
/Rent.Cordinates/obj/Release/net6.0/apphost.exe
/LMS/.vs/Rent/FileContentIndex/9fbcc44a-6f21-43dd-a661-651bffe4fc02.vsidx
/LMS/.vs/Rent/FileContentIndex/522283cf-b001-4de5-b2fe-1056f409dd15.vsidx
/LMS/.vs/Rent/FileContentIndex/37d20631-a245-4b11-9f71-0dc0cc8339b9.vsidx
/LMS/.vs/Rent/FileContentIndex/3304305a-7430-46b4-96a4-e56c14527f11.vsidx
/Rent.BunnyNet/bin/Debug/net6.0/Rent.BunnyNet.dll
/Rent.BunnyNet/bin/Debug/net6.0/Rent.BunnyNet.pdb
/Rent.BunnyNet/obj/Debug/net6.0/Rent.BunnyNet.pdb
/Rent.BunnyNet/obj/Debug/net6.0/Rent.BunnyNet.dll
/Rent.BunnyNet/obj/Debug/net6.0/Rent.BunnyNet.csproj.BuildWithSkipAnalyzers
/Rent.Cordinates/obj/Rent.Cordinates.csproj.nuget.dgspec.json
/Rent.Cordinates/obj/project.nuget.cache
/Rent.Cordinates/obj/project.assets.json
/LMS/UploadFiles
/Rent.BunnyNet/obj/Release/net6.0
/Rent.BunnyNet/bin/Release/net6.0
/Rent.BunnyNet/obj
/Rent.BunnyNet/bin

/Rent.Cordinates/bin/Debug/net6.0/Newtonsoft.Json.dll
/Rent.Cordinates/obj/Debug/net6.0/Rent.Cordinates.csproj.FileListAbsolute.txt
/Rent.BunnyNet/obj/Debug/net6.0/ref/Rent.BunnyNet.dll
/LMS/service_key.json
/Rent.BunnyNet/obj/Debug/net6.0/refint/Rent.BunnyNet.dll
/Rent.BunnyNet/bin/Debug/net6.0/Rent.BunnyNet.deps.json
/Rent.BunnyNet/obj/Debug/net6.0/Rent.BunnyNet.GeneratedMSBuildEditorConfig.editorconfig
/Rent.BunnyNet/obj/Debug/net6.0/Rent.BunnyNet.csproj.FileListAbsolute.txt
/Rent.BunnyNet/obj/Debug/net6.0/Rent.BunnyNet.csproj.CoreCompileInputs.cache
/Rent.BunnyNet/obj/Debug/net6.0/Rent.BunnyNet.csproj.AssemblyReference.cache
/Rent.BunnyNet/obj/Debug/net6.0/Rent.BunnyNet.assets.cache
/Rent.BunnyNet/obj/Rent.BunnyNet.csproj.nuget.dgspec.json
/Rent.BunnyNet/obj/project.nuget.cache
/Rent.BunnyNet/obj/project.assets.json
